@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-doto: "Doto", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4b5563; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; 
}